@mixin rtl {
  direction: rtl;
}

@mixin ltr {
  direction: ltr;
}

html {
  body {
    padding-top: 50px;

    header#pageHeader a.navbar-brand img {
      display: inline-block;
      width: 25px
    }

    section#sidebar {
      background-color: #222;
      color: white;
      position: fixed;
      top: 50px;
      right: 0;
      bottom: 0;
      width: 200px;
      padding: 20px;
    }

    section#pageContent {
      padding: 20px;
      margin-right: 200px;
      min-height: 500px;

      h1.page-header:first-child {
        margin-top: 0;
      }
    }

    footer#pageFooter {
      border-top: 1px solid #eee;
      color: #999;
      margin-top: 50px;
    }

    table.table {
      tr {
        cursor: default;

        &.selected {
          font-weight: bold;
        }
      }
      th.reactable-header-sortable {
        cursor: pointer;
      }
    }
  }

  .rtl {
    @include rtl;
  }

  .ltr {
    @include ltr;
  }
}
